<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="/styles/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BSA - Accueil</title>
</head>
<body>
    <% if (isConnect){ %>
        <header>
            <h2>BSA - Benstitou Sofiane's APPs 🤯🧨💥</h2><a href="pages/login.html"><h4><%= pseudo%> 🚪</h4></a>
        </header>
    <% } else{ %>
        <header>
            <h2>BSA - Benstitou Sofiane's APPs 🤯🧨💥</h2><a href="pages/login.html"><h4>Se connecter</h4></a>
        </header>
    <% } %>
    <main>
        <h2 title="C'est accessoirement une partie de mon portfolio">Choissez une de <u>mes</u> formidables applications ✨</h2>
        <a href="https://benstitousofiane.github.io/sable/" class="sable" target="_blank"><h2>Mon Environnement Sable (MES)</h2></a>
        <div class="armoire">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </main>

    <footer><h3>Tous le code dans le domaine public, En savoir plus : <a href="https://unlicense.org/"target="_blank">Unilicense license</a></h3> <h2> + </h2><a href="https://github.com/benstitousofiane">Mon GitHub</a></footer>
</body>
</html>